.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 215px;
  padding-top: 5px;
  color: white;
}

.App-footer {
  background-color: #222;
  height: 30px;
  padding-top: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width:320px) {
 .App-header {
   height: 255px;
 }
}
@media (min-width:480px) {
 .App-header {
   height: 215px;
 }
}
