body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.-id {
    height: 30px;
}
.-text {
    width: 100%;
    height: 30px;
    min-height: 30px;
    padding: 0 10px;
    line-height: 30px;
}
.-id, .-text:not(textarea) {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.-text.row:not(.-header):hover {
    background-color: rgba(255,0,0, .5);
    color: white;
}
.-text .-text .input-group-btn {
    display: none;
}
.-text .-text:hover .input-group-btn {
    display: block;
}
.-text .-text:focus .input-group-btn {
    display: block;
}

.-button-bg {
    width: 107px;
    height: 29px;
    border-radius: 2px;
    background-color: #38a197;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.06));
    border-image-slice: 1;
}
.-button-bg:disabled, .-button-bg.-gray {
    background-color: gray;
}
.-button-bg.-gray:hover {
    background-color: #38a197;
}
.-button-text {
    width: 71px;
    height: 17px;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}

.mt-20 {
    margin-top: 20px;
}
